<p style="font-size: 18px; font-weight: bold;">Olá, uma nova encomenda foi atribuida a você, veja mais detalhes abaixo:</p>

{{> productInfo }}

<hr style="border: 1px dotted #aaa; opacity: 0.7;">

{{> recipientInfo }}

<small>A retirada do produto já está disponível!</small> <br />
